name: Generate requirements.txt

on:
  push:
    branches:
      - "master"
      - 'foreman-*.*'

jobs:
  generate-requirements-txt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - name: Install poetry
        run: |
          pip install --upgrade pip && pip install --upgrade poetry~=2.1.3 poetry-plugin-export
      - name: Export requirements.txt
        run: |
          poetry export -f requirements.txt --output requirements.txt
          poetry export --only dev -f requirements.txt --output requirements-dev.txt
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add .
          
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "chore: re-generate requirements.txt files"
            git push
          fi
